#container {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 4px;
justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.card h4 {
  font-size: 1.2em;
  color: #333;
}